*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: police;
    src: url(police/Montserrat-VariableFont_wght.ttf);
}


header{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.hac a{
margin-right: 60px;
text-decoration: none;
cursor: pointer;
color: black;
font-family: police;

}
.gal{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.gal div{
    padding: 30px;
}
.galery{
    font-size: 50px;
    font-family: police;
}
hr{
    border: none;
    border-top: 1px solid black;
    width: 500px;
}
.wee div p{
    display: flex;
   flex-direction: column;
  text-align: center;
 
   
}
.we{
    font-size: 25px;
    font-family: police;
    display: flex;
    padding: 0px;
}

.wew{
    margin-top: -50px;
}
.photoA{
    display: flex;
    flex-direction: row;
   justify-content: center;
    gap: 20px;


}

.photo1{
    display: flex;
    width: 300px;
    height: 300px;
}
.photo2{
    display: flex;
    width: 300px;
    height: 300px;
    

}
.photo3{
    display: flex;
    width: 300px;
    height: 300px;
}
.photo4{
    display: flex;
    width: 300px;
    height: 300px;  
}
.photoB{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}
.photo5{
    display: flex;
    width: 300px;
    height: 300px;  
}
.photo6{
    display: flex;
    width: 300px;
    height: 300px;
}
.photo7{
    display: flex;
    width: 300px;
    height: 300px;  
}
.photo8{
    display: flex;
    width: 300px;
    height: 300px; 
}
.bloc{
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 100%;
    height: 800px;
    /* background-color: black; */
}
.bloc h1{
    text-align: center;
    font-family: police;
    padding: 100px 25px 25px 25px;
}
.centre{
    padding: 25px 75px 25px 75px;
    line-height: 2;
    font-size: 1rem;
    font-family: police;
    text-align: center;
}

.cercleimg{
    /* background-color: blue; */
    width: 344px;
    height: 344px;
    border-width: 20px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    /* left: 20px; */
    /* bottom: -20px; */
    /* z-index: 2; */
   margin-top: -100px;
   
}
.imgron{
    
    text-align: center;
    /* margin-bottom: -200px; */
   
    
}
.imgrond{
    margin-top: -120px;
    background-color: beige;
}

.retangle{
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: beige;
    width: 100%;
    height: 600px;
    margin-top: -100px;

}
.retangle div{
    align-items: center;
    font-family: police;
}

.faozia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 400px;
    /* margin-top: 10px; */
    z-index: 1;
}

.retangle faozia me{
   font-size: 50px;
}
.help{
    font-size: 25px;
    margin-top: 100px;
    margin: 60px;
    text-align: center;
}




.orange{
    background-color: #FF8A05;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
   justify-items: center;
}
.text1{
   
    font-family: police;
    font-size: 25px;
    color: white;
    margin: 0px 200px 0px 200px;
   margin-top: 100px;
   text-align: center;
  
}
.sgw{
    width: 300px;
    height: 60px;
    border-style: none;
    border-radius: 50px;
    background-color: #FF8A05;
    color: black;
    font-family: police;
    margin-top: 50px;
}

.imgquatre{
    text-align: center;
    margin-bottom: -200px;
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 100px;
   margin-top: -100px;
   
}
.alm{
   
    width: 150px;
    height: 200px;
}
.Adam{
    font-family: police;

}

/* Ajout maison */

.fofi{
   
  display: flex;
    background-color: #131210;
    width: 100%;
    height: 500px;
    background-image: url(imagehome/1.jpg);
    background-size: cover;
}
.fofiimg{
    width: 100%;
    height: 500px;
}
.rouge{
    /* background-color: #FF8A05; */
    width: 100%;
    height: 1200px;
    /* display: flex; */
}
.rougeimg{
    display: flex;
    /* flex-direction: column; */
    padding: 50px;
    display: flex;
    
}
.imglatop{
    width: 500px;
    height: 400px;
}
.imggooo{
    width: 300px;
    height: 300px; 
   
    margin-left: 10px;
}

.rougeimg00{
    display: flex;
    /* flex-direction: column; */
   justify-content: space-around;
   margin-bottom: 300px;
   padding: 5opx;

}

.feuil{
    width: 500px;
    height: 300px;
   margin-left: 100px;
   margin-top: 40px;

}
.feuil00{
    width: 500px;
    height: 500px;
    margin-bottom: -200px;
}
.projects{
    font-family: police;
    font-size: 100px;
    font-weight: bold;
    margin-top: 400px;
margin-left: 100px;
}
.text2{
    font-family: police;
    font-size: 25px;
    color: white;
    margin: 0px 200px 0px 200px;
   margin-top: -10px;
}
.gtt{
    font-weight: bold;
    font-family: police;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}
.gpp{
    font-family: police;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.csvfofi{
    height: 50px;
    width: 50px;
}
.buttonsvg{
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 200px;
}
.icond{
    width: 50Px;
    height: 50px;
    background-color: #FF8A05;
}
.svgflech{
    width: 35px;
    height: 35px;
    padding-top: 7px;
}



.latop{

    height: 300px;
    width: 300px;
}

.blue{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    height: 300px;
    
}
.trg{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 100px;
}

.paragraphe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
    font-family: police;
}
.paragraphe p{
    justify-self: center;
    margin-top: -20px;
    margin-bottom: 100px;
}
.para1{
    
    font-size: 20px;
    text-align: center;
    font-family: police;

}
.para2{
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    font-family: police;
}
.orange1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF8A05;
    height: 700px;
    width: 100%;
}


.blan{
    
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 400px;
    height: 460px;
    width: 400px;
    font-family: police;
    font-weight: bold;
    padding: 40px;

}
.blan form{
   display: flex;
   flex-direction: column;
}

.blan form input{
    border-radius: 15px;
    width: 400px;
    height: 40px;
    background-color: #e5e5e5;

}

.blan form textarea{
    border-radius: 10px;
    width: 400px;
    height: 100px; 
    background-color: #e5e5e5;

}
.submit{
    background-color: #FF8A05;
    border-radius: 20px;
    border-style: none;
    width: 400px;
    height: 40px;
  }

.carré{
    background-color:  #FF8A05;;
    display: flex;
    width: 300px;
    height: 45px;
    margin-left: 50px;
    margin-top: 130px;
    border-radius: 20px;
}


.BA{
   
    color:white;
    font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: police;
  margin-right: 100px;

}
.noir{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
justify-content: space-around;
    height: 200px;
    width: 100%;   
}
.blc p{
   color: white;
    text-align: center;
}
.bld{
    display: flex;
   justify-content: center;
   color: white;
   gap: 10px;
}
